<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfX369wapYgYb8CjEMICHyD2blAjO6rmk</string>
	<key>GCM_SENDER_ID</key>
	<string>260834068177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dahyun.CheakBbang</string>
	<key>PROJECT_ID</key>
	<string>cheakbbang</string>
	<key>STORAGE_BUCKET</key>
	<string>cheakbbang.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260834068177:ios:0a1c151dcca41f8d9667f0</string>
</dict>
</plist>